<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu van tuyen sinh</title>
</head>
<body>
<h1><p>Tư vấn tuyển sinh 2017 </p></h1>
{% if latest_question_list %}
    <ul>
       {% for question in latest_question_list %}
       <li>
            <a href="{% url 'tuvantuyensinh:detail' question.id %}">
                {{question.question_text}}

             </a>
           <p> Form cau tra loi o day.  </p>

       <li>
       {% endfor %}
    </ul>
{% else %}
   <p>Chưa có câu hỏi để trả lời</p>
{% endif %}


</body>
</html>